.StartPage {
  position: relative;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  width: 60%;
  text-align: center;
}
.textWrapper h1 {
  color: #414141;
  letter-spacing: 2px;
  font-size: 42px;
  font-weight: 300;
  line-height: 1.3em;
  font-family: Inter;
}

@media screen and (min-width: 900px) {
  .EqamLogo {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  .StartPage {
    left: 0;
    width: 100vw;
    flex-direction: column;
  }
  .StartPage h1 {
    width: 80%;
  }
  .EqamLogo {
    position: relative;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 599px) {
  .textWrapper {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .StartPage h1 {
    font-size: 30px;
  }
}
