.NavContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100vh;
  z-index: 1;
}
.Nav {
  width: inherit;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.navButton {
  padding: 13px;
  font-size: 11px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s;
  letter-spacing: 2px;
  background: none;
  font-family: Inter;
}

.navButton:hover {
  text-decoration: underline;
}
.navButton.active {
  border: 1px solid black;
}

/* Navbar at Small screens 899px and below*/
@media screen and (min-width: 900px) {
  .NavMobile {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .Nav {
    display: none;
  }
  .NavContainer {
    width: 100vw;
    height: auto;
  }
  .NavMobileIcon {
    position: absolute;
    right: 20px !important;
    top: 20px;
    width: 45px;
    height: 45px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
