.NavContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100vh;
  z-index: 1;
  top: 0;
}
.Nav {
  width: inherit;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.navButton {
  padding: 13px;
  font-size: 11px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s;
  letter-spacing: 2px;
  background: none;
  font-family: Inter;
}

.navButton:hover {
  text-decoration: underline;
}
.navButton.active {
  border: 1px solid black;
}

@media screen and (min-width: 900px) {
  .NavMobile,
  .NavMenuIcon {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .Nav {
    display: none;
  }
  .NavContainer {
    width: 100vw;
    height: auto;
  }
  .NavMenuIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
    height: 45px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .NavMobile {
    position: absolute;
    right: 20px;
    background-color: #fff;
    border-radius: 3px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 90px;
    padding: 25px 30px 15px;
    display: flex;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    transition: display 0.3s ease-in-out;
  }
  .NavMobile h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .mobile_menu_arrow {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: -5px;
    bottom: auto;
    left: auto;
    right: 10px;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 299px) {
  .NavMobile {
    right: auto;
    width: 95%;
    margin: auto;
  }
}
