.footer_container {
  position: relative;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 38.39px 54px 0px;
  align-items: center;
  border-top: 1px solid #000;
  margin-top: 10px;
  z-index: 2;
  background-color: #fff;
}
.footer_copyright {
  width: 20vw;
  display: flex;
  min-height: 67px;
  align-items: center;
  justify-content: flex-end;
  gap: 5.16px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer_copyright span {
  color: #000;
  font-size: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
}
.footer_copyright h1 {
  color: rgba(65, 65, 65, 0.7);
  font-size: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.footer_wrapper{
  display: flex;
  gap:20px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 30px;
  height:auto;
  width:fit-content;
 
}
.phone,
.Email,
.LinkedIn,
.Twitter,
.Medium,
.Substack {
  width: 21px;
  height: 20px;
  flex-shrink: 0;
  fill: #fff; 
  transition: fill 0.3s; 
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.phone {
  background-image: url("/phone_icon.svg");
}

.Email {
  background-image: url("/mail_icon.svg");
}

.LinkedIn {
  background-image: url("/linkedIn_icon.svg");
}

.Twitter {
  background-image: url("/twitter_icon.svg");
}

.Medium {
  background-image: url("/medium_icon.svg");
  opacity:0.7;

}

.Substack {
  background-image: url("/substack_icon.svg"); 
  opacity:0.7;
}


.phone:hover,
.Email:hover,
.LinkedIn:hover,
.Twitter:hover,
.Medium:hover,
.Substack:hover {
  fill: #000; 
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 28.421px;
  background-color: #e9e9ed;
  cursor: pointer;
}
@media screen and (max-width: 825px) {
  .footer_copyright {
    width: 40vw;
    align-items: center;
    padding-left: 5%;
  }
}
@media screen and (max-width: 468px) {
  .footer_copyright {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 352px) {
  .footer_copyright {
    width: 50vw;
  }
}

@media screen and (max-width: 899px){
  .nav_links{
    display: none;
  }
}