.about_container {
  position: relative;
  width: 80vw;
  left: 20vw;
  margin-top: 170.69px;
  overflow-y: scroll;
  
}
.about {
  width: 70vw;
  display: flex;
  padding: 60.31px 50.11px 60px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 29.69px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  color: #414141;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

.about_wrapper{
  display:flex;
  flex-direction: column;
}

.span_text {
  color: #5078BD;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  
}


.about strong {
  color: #823DC5;
}

.about span {
  color: #000;
}
@media screen and (max-width: 899px) {
  .about_container {
    left: 10px;
    width: 100vw;
    margin-top: 40px;
  }
  .about {
    width: 90vw;
    padding: 60.31px 50.11px 60px 30px;
  }
}
@media screen and (max-width: 400px) {
  .about_container {
    margin-top: 20px;
  }
  .about {
    padding: 30.31px 5.11px 40px 20px;
    font-size: 13px;
  }
  .span_text {
    font-size: 16px;
  }
}
