.contact_container {
  position: relative;
  width: 80vw;
  left: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
}

.content {
  height: auto;
}
.contact_heading {
  display: flex;
  width: fit-content;
  margin-top: 155px;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2c3a98;
  font-size: calc(1.8rem + ((1vw - 0.48rem) * 0.9722));
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 93.6px;
}
.paragragh {
  display: inline-flex;
  margin-top: 33.4px;
  padding: 4px 30.21px 49.5px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  color: #414141;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 22.5px;
}
.paragragh span {
  color: rgba(9, 106, 208, 1);
}

@media screen and (max-width: 899px) {
  .contact_container {
    left: 3%;
    width: 100vw;
  }
  .contact_heading {
    margin-top: 70px;
    font-size: 52px;
  }
}
@media screen and (max-width: 600px) {
  .contact_heading {
    margin-top: 50px;
    font-size: 42px;
  }
  .paragragh {
    margin-top: 20.4px;
  }
}
@media screen and (max-width: 400px) {
  .contact_heading {
    margin-top: 45px;
    font-size: 38px;
  }
  .paragragh {
    margin-top: 13.4px;
    color: #414141;
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .contact_heading {
    margin-top: 40px;
    font-size: 34px;
  }
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  height: auto;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

@media screen and (max-width: 599px) {
  .nav_links {
    margin-left: 0;
    width: 85%;
  }
}

.phone,
.Email,
.LinkedIn,
.Twitter,
.Medium,
.Substack {
  width: 21px;
  height: 20px;
  flex-shrink: 0;
  fill: #fff;
  /* background-color: #000;    */
  transition: fill 0.3s;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.phone {
  background-image: url("/phone_icon.svg");
}

.Email {
  background-image: url("/mail_icon.svg");
}

.LinkedIn {
  background-image: url("/linkedIn_icon.svg");
}

.Twitter {
  background-image: url("/twitter_icon.svg");
}

.Medium {
  background-image: url("/medium_icon.svg");
  opacity: 0.7;
}

.Substack {
  background-image: url("/substack_icon.svg");
  opacity: 0.7;
}

.phone:hover,
.Email:hover,
.LinkedIn:hover,
.Twitter:hover,
.Medium:hover,
.Substack:hover {
  fill: #000;
}

@media screen and (min-width: 1535px) {
  .contact_container {
    height: calc(100vh - 177px);
  }
}
@media screen and (max-width: 1534px) {
  .contact_container {
    height: 100vh;
  }
}
