.container {
  position: absolute;
  width: 80vw;
  left: 20vw;
  height: 900px;
  overflow-y: scroll;
  background-color: #fff;
  right: 20vw;
  height: 900px;
  overflow-y: scroll;
}
.content {
  max-width: 1250px;
  height: auto;
}
.content_head {
  display: flex;
  width: fit-content;
  margin-top: 155px;
  color: #414141;
  font-size: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Rec1 {
  position: relative;
  width: 90%;
  height: 74px;
  left: 0;
  right: 162px;
  background: #E4EBED;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Text2 {
  width: fit-content;
  height: 23px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  line-height: 23px;
  color: #000000;
}
@media screen and (max-width: 450px) {
  .container{
    left:5%;
    width:100vw;
  }
  .content_head{
    font-size: 42px;
  }
}
@media screen and (max-width:375px) {
  .container{
    left:5%;
    width:100vw;
  }
  .Rec1{
    left:5%;
    height:70px;
  }
  .content_head{
    font-size: 40px;
  }
}
@media screen and (max-width:300px) {
  .container{
    left:5%;
    width:100vw;
  }
  .content_head{
    font-size: 35px;
  }
}
@media screen and (max-width:200px) {
  .container{
    left:5%;
    width:100vw;
  }
  .Rec1{
    left:5%;
    height: 80px;
  }
  .Text2{
    margin-top: -40px;
  }
  .content_head{
    font-size: 30px;
    
  }
  @media screen and (max-width:156px) {
    .Rec1{
      left: 5%;
      height:100px;
    }
    .Text2{
      margin-top: -62px;
    }
  }
}