.resource_container {
  position: absolute;
  width: 80vw;
  left: 20vw;
}

.resource_header {
  margin-top: 155px;
  text-align: left;
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #414141;
  font-size: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 93.6px;
}
.inline_block {
  width: 70vw;
  display: flex;
  flex-direction: column;
  height: auto;
  /* position: relative; */
   /* margin-top: 3vh;
  margin-bottom: 7vh; */
  /* padding: 4vh 3vw; */
  /* border-radius: 8px; */

}
.article_wrapper {
  width: 100%;
  align-items: center;
  background-color: red;

  padding: 7vw 10vw 10vh 25vw;
  display: block;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 3vh;
  margin-bottom: 7vh;
  padding: 4vh 3vw;
  transition: box-shadow .2s;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  cursor: pointer;
}
.article_wrapper:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}
.heading_3 {
  color: #414141;
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  padding: 0, 0, 10px;
}

.paragraph_7 {
  color: rgba(65, 65, 65, 0.50);
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  padding: 0, 0, 10px;
}

.block {
  display: flex;
}
.article_info {
  color: rgba(65, 65, 65, .5);
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
}
.article_info_sep {
  color: rgba(65, 65, 65, .5);
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (max-width: 899px) {
  .resource_container {
    left: 5%;
    width: 100vw;
  }
  .resource_header {
    font-size: 52px;
  }
}
@media screen and (max-width: 500px) {
  .article_wrapper {
    width: 80vw;
  }
}
